.button {
    border: none;
    background-color: #000;
    padding: 15px 81px 15px 81px;
    color: #fff;
    text-align: center;
    transition: all ease-in-out .2s;
}

.button:hover {
    opacity: .8;
}